.items .item
  display: grid
  gap: 1em
  grid-template-columns: 6em 5em 4em 3em 3em 3em 3em 3em 1fr
.items
  .total, .unit, .floor, .total-floor, .main-area, .sec-area, .balcony
    text-align: right
