doctype html
html
  head
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "ldcover"}
    ])
    style(type="text/css"): include:stylus index.styl
  body
    #map.w-100.h-100
    .d-flex.charts
      .p-2
        .label.text-sm 屋齡分布
        .chart(ld="chart",data-name="age")
      .p-2
        .label.text-sm 樓層分布
        .chart(ld="chart",data-name="floor")
      .p-2
        .label.text-sm 交易距今(年)
        .chart(ld="chart",data-name="timespan")
      .p-2
        .label.text-sm.d-flex.g-1.align-items-center(ld="pstat")
          span 單價
          .text-sm
            span.text-sm.text-muted 低
            span(ld="stat",data-name="q1")
          .text-sm
            span.text-sm.text-muted 中
            span(ld="stat",data-name="q2")
          .text-sm
            span.text-sm.text-muted 高
            span(ld="stat",data-name="q3")
          .text-sm
            span.text-sm.text-muted 均
            span(ld="stat",data-name="avg")
          .text-sm
            span.text-sm.text-muted 差
            span(ld="stat",data-name="stddev")
        .chart(ld="chart",data-name="unitp")
    .ldcv.scroll.autogap(ld="popup"): .w-640.rwd.base: .inner.ldcv-popup
      .d-flex.g-3 #[.label 成交日]#[.value(ld="deal-date")]
      .d-flex.g-3 #[.label 地址]#[.value(ld="addr")]
      .d-flex.g-3 #[.label 屋齡]#[.value(ld="age")]
      .d-flex.g-3 #[.label 總價]#[.value(ld="total-price")]
      .d-flex.g-3 #[.label 單價]#[.value(ld="unit-price")]
      .d-flex.g-3 #[.label 樓層]#[.value(ld="floor")]
      .d-flex.g-3 #[.label 主坪]#[.value(ld="main-area")]
      .d-flex.g-3 #[.label 附坪]#[.value(ld="sec-area")]
      .d-flex.g-3 #[.label 陽台]#[.value(ld="balcony")]
    +script([
      {name: "proxise"},
      {name: "@loadingio/debounce.js"},
      {name: "@loadingio/ldquery"},
      {name: "@plotdb/semver"},
      {name: "@plotdb/rescope"},
      {name: "@plotdb/csscope"},
      {name: "@plotdb/block"},
      {name: "ldview"},
      {name: "ldcover"},
      {name: "ldcolor"}
    ])
    script(type="module"): include:lsc index.ls
