html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

.charts
  position: absolute
  z-index: var(--z-float)
  bottom: 1em
  left: 1em
  display: flex
  gap: 1em
  .label
    text-shadow: 0 0 4px rgba(255,255,255,1)
    background: rgba(255,255,255,.8)
    padding: .0em .2em
    margin-bottom: .1em
    border-radius: .25em
.chart
  width: 10em
  height: 6em
  border-radius: .25em
  box-shadow: 0 2px 4px rgba(0,0,0,.3)
  background: #fff
  padding: .5em
